/* Add CSS styling here */
* {
    width: 1000px;
    margin: 0 auto;
}
h1, h2 {
    text-align: center;
    margin: 1em;
}

p.information {
    text-align: center;
}

.container {
    display: flex;
}

nav {
    justify-content: center;
}

nav a {
    width: 100px;
}

.banner {
    width: 100%;
    height: 300px;
    background-image: url();
}


.project {
    background: grey;
    width: 180px;
    height: 500px;
    margin: 10px;
}

.description {
    background: none;
    text-align: left;
    font-size: larger;
    padding: auto;
    align-items: center;
}