/* Add CSS styling here */
* {
    width: 1000px;
    margin: 0 auto;
}
h1, h2, p {
    text-align: center;
    margin: 1em;
}

.container {
    display: flex;
}

nav {
    justify-content: center;
}

nav a {
    width: 100px;
}

.project {
    background: grey;
    width: 18%;
    height: 500px;
    margin: 10px;
}

p.description {
    width: 350px;
    text-align:left;
}